/* Gallery for events */
.swiper {
    width: 80%;
    max-width: 700px;
    height: 400px;
    margin: 40px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: white; /* or any color you like, e.g. #ed1b2f */
  }

  .swiper-pagination-bullet {
    background: white;           /* dot color */
    opacity: 0.6;                /* transparency */
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;         /* active dot color */
    opacity: 1;                  /* full opacity when active */
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #000;
  }

  @media (max-width: 768px) {
    .swiper {
      height: 250px;
      max-width: 95%;
    }
  }